@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<div class="text-center">
    <h1 class="display-4">Welcome to Fake Cinemas!</h1>
</div>
<div id="video">

    <video muted loop autoplay>

        <source src="~/images/spinny.MP4" type="video/mp4">

    </video>
</div>
